<h2 mat-dialog-title>{{ actionTitle }} Producto</h2>
<mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="form-input">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="productName">
                    <mat-icon matSuffix>fit_screen</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="form-input">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let item of categoriesList" [value]="item.categoryId">
                            {{ item.categoryName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="form-input">
                    <mat-label>Stock</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="stock">
                    <mat-icon matSuffix>edit_square</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="form-input">
                    <mat-label>Precio</mat-label>
                    <input matInput autocomplete="off" formControlName="price">
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="form-input">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="isActive">
                        <mat-option value="1">Activo</mat-option>
                        <mat-option value="0">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary" [disabled]="productForm.invalid" (click)="saveProduct()">
        {{ actionbuttom }}
    </button>
</mat-dialog-actions>